@import "@styles/index";

.matriz-loader{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.matriz-container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-left: 7.2vh;
  margin-top: 3vh;

  .matriz-semesters {
    display: flex;
    flex-direction: row;
    gap: 3vh;

    .matriz-divisor {
      display: flex;
      flex-direction: row;
      background-color: $complementary-gray;
      height: 100%;
      width: 2px;
    }
  }
}
