@import "@styles/index";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

.footer-container{
   display: flex;
   height: 100%;
   max-height: 19vh;
   width: 100%;
   background-color: $background;
   margin-top: 16vh;

   .footer-bar{
      background-color: $primary;
      height: 12vh;
      width: 100%;
      flex-shrink: 0;
   }
}