@import "@styles/index";

.footer-qrcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
  
}

.footer-qrcode-container img {
  width: 115.2px; /* 6vw */
}

/* Media query para outras resoluções */
@media (max-width: 1920px), (max-height: 1080px) {
  .footer-qrcode-container {
    
  }

  .footer-qrcode-container img {
    width: 115.2px;
  }
}
