@import "@styles/index";

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   z-index: 9999;

   .modal-content {
      display: flex;
      background: $background;
      border-radius: 1vh;
      width: 25%;
      height: 55%;
      flex-direction: column;

      .modal-header {
         display: flex;
         background: $background;
         border-radius: 1vh;
         width: 100%;
         height: 15%;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;

         .modal-title {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .modal-card-name {
               font-size: 2vh;
               margin-left: 2vh;
               color: $black;
            }

            .modal-card-subtitle {
               font-size: 1.3vh;
               margin-left: 2vh;
               color: $black;
            }
         }

         .close-button {
            display: flex;
            position: relative;
            height: 4vh;
            right: 2vh;
            margin-bottom: 0.7vh;
            border: none;
            background: transparent;
            font-size: 5vh;
            cursor: pointer;
            justify-content: center;
            color: $complementary-gray;
            align-items: center;
         }
      }

      .modal-divisor {
         display: flex;
         background-color: $black;
         height: 1px;
         width: 100%;
      }

      .modal-requisites {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         margin-left: 2vh;
         gap: 0.2vh;

         .modal-requisites-title {
            font-size: 1.5vh;
            color: $black;
            font-weight: bolder;
            margin-top: 1vh;
         }

         .modal-req-type1 {
            display: flex;
            font-size: 1.3vh;
            background-color: $card-blue;
            color: $card-white;
            border-radius: 0.3vh;
            border: 1px solid $card-blue;
            font-weight: bolder;
         }

         .modal-req-type2 {
            display: flex;
            font-size: 1.3vh;
            background-color: $card-light-blue;
            color: $card-blue;
            border-radius: 0.3vh;
            border: 1px solid $card-light-blue;
            font-weight: bolder;
         }
      }

      .modal-desc {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         margin-left: 2vh;
         gap: 0.2vh;
         margin-top: 0.2vh;

         .modal-desc-title {
            font-size: 1.5vh;
            color: $black;
            font-weight: bolder;
            margin-top: 1vh;
         }

         .modal-desc-text {
            display: flex;
            font-size: 1.3vh;
            color: $black;
            font-weight: bolder;
            margin-right: 2vh;
         }
      }
   }
}