$primary: #002A3F;
$secondary: #a8d9f2;
$complementary: #8a9499;
$course-name: #0071bf;

$background: #fdfdfd;
$landing-page-text :#666666;

$black: #000000;
$white: #ffffff;

$light-gray: #eff2f4;
$gray: gray;
$dark-gray: gray;
