$primary: #002a3f;
$complementary: #999999;
$course-name: #0071bf;
$primary-blue: #005187;

$background: #fdfdfd;
$landing-page-text: #666666;

$black: #000000;
$white: #ffffff;
$complementary-gray: #cfcfcf;
$light-gray: #eff2f4;

$card-blue: #005288;
$card-white: #e6e9eb;
$card-light-blue: #a8d9f2;
$card-bright-blue: #00b7ff;
$card-dark-blue: #09369e;