@import "@styles/index";

.footer-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  .footer-logo-logos {
    display: flex;
    flex-direction: row;

    .footer-marista-logo {
      display: flex;
      align-items: center;

      img {
        width: 6.4vw;
      }
    }

    .footer-pucrs-logo {
      display: flex;
      align-items: center;

      img {
        width: 3.4vw;
      }
    }
  }

  .footer-logo-text {
    height: 10vh;
    width: 100%;
    margin-top: 2vh;

    p {
      font-size: 1.3vh;
      color: $landing-page-text;
      margin-left: 15vh;
    }
  }
}
