@import "@styles/index";

.footer-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-logo-logos {
  display: flex;
  flex-direction: row;
}

.footer-marista-logo {
  display: flex;
  align-items: center;
}

.footer-marista-logo img {
  width: 122.88px; /* 6.4vw */
}

.footer-pucrs-logo {
  display: flex;
  align-items: center;
}

.footer-pucrs-logo img {
  width: 65.28px; /* 3.4vw */
}

.footer-logo-text {
  height: 108px; /* 10vh */
  width: 100%;
  margin-top: 21.6px; /* 2vh */
}

.footer-logo-text p {
  font-size: 14.04px; /* 1.3vh */
  color: $landing-page-text;
  margin-left: 162px; /* 15vh */
}

/* Media query para outras resoluções */
@media (max-width: 1920px), (max-height: 1080px) {
  .footer-marista-logo img {
    width: 122.88px;
  }

  .footer-pucrs-logo img {
    width: 65.28px;
  }

  .footer-logo-text {
    height: 108px;
    margin-top: 21.6px;
  }

  .footer-logo-text p {
    font-size: 14.04px;
    margin-left: 162px;
  }
}
