@import "@styles/index";

.semester-container {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;

  .semester-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: $black;
  }
}
