@import "@styles/index";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header-container {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   background-color: $background;

   .header-title {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 3vh;
      font-size: 1.5vh;
      margin-left: 21%;
      margin-top: 7.5%;
   }

   .header-layout {
      display: flex;
      flex-direction: row; 
      align-items: flex-start;
      margin-left: 22%;
      margin-top: 1%;

      .header-course-name {
         font-weight: bolder;
         font-size: 1.5vh;
         margin-right: 60vh; // Adiciona 8vh de distância para o próximo elemento
      }

      .header-duration {
         font-weight: bolder;
         font-size: 1.5vh;
         margin-right: 10vh; // Adiciona 2vh de distância para o próximo elemento
      }

      .header-curriculum {
         font-weight: bolder;
         font-size: 1.5vh;
      }
   }
}
